{% extends 'home.html' %}
{% load static%}
{% block content %}

    <div class="container" style="background: white">
	<div class="row-fluid">
        <div class="span8" style="float: left; width: 60%; margin-top: 1%">
        	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1613.980692956285!2d-47.89597371809373!3d-15.818993347038015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3acce77b49fb%3A0xb1d4f6d578a2c573!2sSapataria+Cl%C3%ADnica+das+Malas!5e0!3m2!1spt-BR!2sbr!4v1490328253371"></iframe>
    	</div>

      	<div class="span4" style="float: right;width: 35%">
    		<address>
                <br>
                <h3><strong>Clínica das Malas</strong></h3><br>
    			407 sul, Bloco C, Loja 22<br>
    			<br>Horário de Funcionamento: De Segunda à Sabado<br>
                Das 08:00 às 18:00<br>
    			<br>Telefone: (61) 3443-7481
    		</address>
            <div style="width: 40%; height: 50%">
                <div style="float: left">
                    <a href="/index/#contact">
                        <img alt="Email" src="{% static 'images/message.jpg' %}">
                    </a>
                </div>
                <div style="float: right">
                    <a href="https://www.facebook.com/clinicadasmalas/">
                        <img alt="Facebook" src="{% static 'images/facebook.jpg' %}">
                    </a> 
                </div>
            </div>
    	</div>
    </div>
</div>

{% endblock content %}