{% extends 'home.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
					{% if is_valid %}
				    <div class="alert alert-success" role="alert">Mensagem enviada com sucesso!</div>
				  {% endif %}
					<form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Contato</legend>

            <!-- Name input-->


						{% csrf_token %}
						<div class="form-group">
							<label class="col-md-3 control-label" for="name">Nome</label>
							<div class="col-md-9">
								{% render_field form.name class+="form-control" placeholder="Nome" %}
								{% if form.name.errors %}
								<div class="alert alert-danger" role="alert">{{form.name.errors}}</div>
								{% endif %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="name">Seu Email</label>
							<div class="col-md-9">
								{% render_field form.email class+="form-control" placeholder="example@email.com" %}
								{% if form.email.errors %}
								<div class="alert alert-danger" role="alert">{{form.email.errors}}</div>
								{% endif %}
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label" for="name">Mensagem</label>
							<div class="col-md-9">
								{% render_field form.mensagem class+="form-control" placeholder="Digite sua mensagem aqui.." %}
								{% if form.mensagem.errors %}
								<div class="alert alert-danger" role="alert">{{form.mensagem.errors}}</div>
								{% endif %}
							</div>
						</div>
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg"> Enviar </button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
{% endblock content %}
