<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Clinica das Malas</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
    <link href="{% static 'css/list_bagagem.css' %}" rel="stylesheet">
    <link href="{% static 'css/progresso.css' %}" rel="stylesheet">
    <link href="{% static 'css/tecnicos.css' %}" rel="stylesheet">
    <link href="{% static 'css/inicio.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  {% if user.is_authenticated %}
    <div id="menu">
      <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'core:home' %}">
                <img alt="Brand" src="{% static 'images/brand.png' %}">
              </a>
            </div>

	  {% if user.e_funcionario == True %}
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entrada <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'bagagem:entra_bagagem' %}">Cadastrar</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'bagagem:list' %}">Lista de Objetos</a></li>
                </ul>
              </li>
              <li><a href="{% url 'produto:list' %}">Estoque</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Funcionários <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'tecnico:geral' %}">Técnicos - Geral</a></li>
                  <li><a href="{% url 'tecnico:pesquisar' %}">- Histórico</a></li>
                  <li><a href="#">- Formulários</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Caixa - Geral</a></li>
                  <li><a href="#">- Histórico</a></li>
                  <li><a href="#">- Formulários</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Motorista - Geral</a></li>
                  <li><a href="#">- Histórico</a></li>
                  <li><a href="#">- Formulários</a></li>
                </ul>
              </li>
            </ul>
	        <ul class="nav navbar-nav">
				<li><a href="/admin">Administração</a> </li>
			</ul>
		  {% else %}
			  <ul class="nav navbar-nav">
			    <li><a href="{% url 'bagagem:cliente' %}">Meus Produtos</a> </li>
			  </ul>
		  {% endif %}

{#            <form class="navbar-form navbar-left">#}
{#              <div class="form-group">#}
{#                <input type="text" class="form-control" placeholder="Cliente, Número OS...">#}
{#              </div>#}
{#              <button type="submit" class="btn btn-default">Pesquisar</button>#}
{#            </form>#}


            <ul class="nav navbar-nav">
              <li class="#"><a href="{%  url 'core:contato' %}">Contato</a></li>
            </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="sair_menu dropdown-toggle" data-toggle="dropdown">Olá, {{user.username}}! </a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'accounts:conta'%}">Configurações </a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'accounts:mensagens' %}">Mensagens</a></li>
                        <li class="divider"></li>
                        <li><a href="{%  url 'accounts:logout' %}">Sair</a></li>
                      </ul>
                    </li>
                  </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="#"><a href="{%  url 'index:index' %}">Voltar ao Site!</a></li>
            </ul>


              {% endif %}

       </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    {% block content%}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/accounts.js' %}"></script>
    <script src="{% static 'js/list_bagagem.js' %}"></script>
    <script src="{% static 'js/progresso.js' %}"></script>
    <script src="{% static 'js/entra_bagagem.js' %}"></script>

  </body>
</html>
