{% extends 'home.html' %}

{% block content %}
  <div class="container-fluid well span6" style="align-content: center; width: 50%;">
	<div class="row-fluid">
        <div class="span2" style="margin-left: 37%; float: left;">
		    <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
        </div>

        <div class="span8" style="margin-left: 37%; float: left;">
            <h3>{{user.username}}</h3>
            <h6>{{ user.email }}</h6>
            <h6><a href="#">More... </a></h6>
        </div>

        <div class="span2" style="float:right;">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'accounts:register' %}"><span class="icon-wrench"></span> Alterar</a></li>
                    <li><a href="#"><span class="icon-trash"></span> Resetar senha</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
