{% extends 'home.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="body_login">
<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="#" role="login">
        <img alt="MalasImg1" src="{% static 'images/MalaImg1.jpg' %}" class="img-responsive"/>
          {% csrf_token %}
          <div class="form-control input-lg" style="background: ghostwhite;">
            <p>Preencha com seu Login:</p>            
              {% render_field form.username class+="form-control input-lg" placeholder="Usuário" %}
              {{field.errors}}           
              {% render_field form.password class+="form-control input-lg" placeholder="Senha" %}           
          </div>
          {{ form.non_field_errors }}

          <div class="pwstrength_viewport_progress"></div>

          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Entrar</button>
          <div>
            <a href="{% url 'accounts:register'%}">Criar Conta</a> or <a href="#">Resetar Senha</a>
          </div>

        </form>
      </section>
      </div>

      <div class="col-md-4"></div>


  </div>

  <p>
    <br>
    <br>

  </p>
</div>

{% endblock content %}
