{% extends 'home.html' %}

{% block content %}
<div class="container">
	<div class="col-sm-12">
		<div class="bs-calltoaction bs-calltoaction-success">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Sua bagagem está pronta!</h1>
                    <div class="cta-desc">
                        <p>Seu serviço foi concluído, compareça à loja para retirar sua bagagem,</p>
                        <p>ou adquira o seriço de Entrega em Domicílio.</p>
                        <p>Para adquirir o serviço de Entrega, clique no botão à direita.</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="#" class="btn btn-lg btn-block btn-success">Entrega em Domicílio!</a>
                </div>
             </div>
        </div>
	</div>
</div>
{% endblock %}
