{% extends 'home.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="body_login">
  <div class="container">
  	<div class="row" style="margin-top:5%;">
        <div class="col-md-6 col-md-offset-3">
          <div class="well well-sm">
            <form class="form-horizontal" action="#" method="post">
            <fieldset>
              <legend class="text-center">Registre-se</legend>

              <!-- Name input-->
              {% csrf_token %}
              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Nome de Usuario</label>
                <div class="col-md-9">
                  {% render_field form.username class+="form-control" placeholder="NomeDeUsuario" %}
                  {% if form.username.errors %}
                  <div class="alert alert-danger" role="alert">{{form.username.errors}}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Nome Completo</label>
                <div class="col-md-9">
                  {% render_field form.name class+="form-control" placeholder="Nome Completo" %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Email</label>
                <div class="col-md-9">
                  {% render_field form.email class+="form-control" placeholder="Email" %}
                  {% if form.email.errors %}
                  <div class="alert alert-danger" role="alert">{{form.email.errors}}</div>
                  {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Telefone</label>
                <div class="col-md-9">
                  {% render_field form.telefone class+="form-control" placeholder="(61) 0000-0000" %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Endereço</label>
                <div class="col-md-9">
                  {% render_field form.endereco class+="form-control" placeholder="Rua x, lote 0, apto 401" %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Tipo de Cliente</label>
                <div class="col-md-9">
                  {% render_field form.tipo_cliente class+="form-control" %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Senha</label>
                <div class="col-md-9">
                  {% render_field form.password1 class+="form-control" %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label" for="name">Confirmar senha</label>
                <div class="col-md-9">
                  {% render_field form.password2 class+="form-control" %}
                  {% if form.password2.errors %}
                  <div class="alert alert-danger" role="alert">{{form.password2.errors}}</div>
                  {% endif %}
                </div>
              </div>

              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
  	</div>
  </div>
</div>
{% endblock content %}
