{% extends 'home.html' %}
{% block content %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<div class="container resumo_adm">  
  <div>
    <h2>Acompanhamento de Técnicos</h2>
  </div>
    <hr>
        <div class="col-md-6 quadro">
          <div class="titulo">
            <h4>Ordens de Serviço por Técnico - MÊS</h4>
          </div>
          <script type="text/javascript">      
            var ctx = document .getElementById( "TecnicoChart" ); 
            var ctx = document .getElementById( "TecnicoChart" ).getContext( "2d" ); 
            var ctx = $( "#TecnicoChart" ); 
            var ctx = "TecnicoChart"; 
          </script>
        <canvas id="TecnicoChart" width="100%" height= "50%"></canvas>
          <script>
            var ctx = document .getElementById( "TecnicoChart" );
            var TecnicoChart = new Chart(ctx, { 
            type: 'horizontalBar' , 
            data: { 
              labels: [ "Funcionário 1" , "Funcionário 2" , "Funcionário 3" , "Funcionário 4"], 
              datasets: [{ 
                label: 'Nº de Ordens de Serviço - MÊS' , 
                data: [ 20 , 30 , 15 , 60],
                fill: false,
                backgroundColor: [ 'rgba(54, 362, 135, 0.5)' , 'rgba(54, 362, 135, 0.5)' , 'rgba(54, 362, 135, 0.5)' , 'rgba(54, 362, 135, 0.5)'],
                borderColor: ['rgba(54, 362, 135, 0.9)' , 'rgba(54, 362, 135, 0.9)' , 'rgba(54, 362, 135, 0.9)' , 'rgba(54, 362, 135, 0.9)'],
                borderWidth: 1}]            
            }, 
          options: { scales: { xAxes: [{ ticks: { beginAtZero: true } }] } } });
          </script>
      </div>
      <div class="col-md-6 quadro">
          <div class="titulo">
            <h4>Resultado de Entregas - MÊS</h4>
          </div>
          <script type="text/javascript">      
          var ctx = document .getElementById( "ResultadoChart" ); 
          var ctx = document .getElementById( "ResultadoChart" ).getContext( "2d" ); 
          var ctx = $( "#ResultadoChart" ); 
          var ctx = "ResultadoChart"; 
        </script>
      <canvas id="ResultadoChart" width="100%" height= "50%"></canvas>
        <script> 
        var ctx = document .getElementById( "ResultadoChart" );
        var ResultadoChart = new Chart(ctx, { 
          type: 'bar' , 
          data: {  
            datasets: [
              { 
              label: 'Sem Atraso' , 
              data: [ 150 , 340, 200, 160 ],
              backgroundColor: ['rgba(30, 112, 201, 0.4)', 'rgba(30, 112, 201, 0.4)','rgba(30, 112, 201, 0.4)','rgba(30, 112, 201, 0.4)'],
              },
              {
              label: 'TOTAL',
              data: [180, 380, 250, 190],
              backgroundColor: ['rgba(136, 333, 44, 0.6)','rgba(136, 333, 44, 0.6)','rgba(136, 333, 44, 0.6)','rgba(136, 333, 44, 0.6)'],
              type: 'bar'
              },
              {
              label: 'Atrasadas',
              data: [30, 40, 50, 30],
              backgroundColor: ['rgba(236, 33, 44, 0.6)','rgba(236, 33, 44, 0.6)','rgba(236, 33, 44, 0.6)','rgba(236, 33, 44, 0.6)'],
              type: 'bar'
              }
            ],
          labels: ["Funcionário 1", "Funcionário 2", "Funcionário 3", "Funcionário 4"]},
          options: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] } } }); 
        </script> 
      </div>
 
</div>


<!--
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {


      var data = google.visualization.arrayToDataTable([
        ['Entrega','Sem atraso', 'Atrasadas', { role: 'annotation' } ],
        ['Pedro', 10, 24,''],
        ['Otavio', 16, 22,''],
        ['Rafael', 28, 19,'']
      ]);

      var options = {
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(data, options);
  }
  </script>
	<div id="columnchart_values" style="width: 900px; height: 300px; margin-left: 30%;"></div>
  -->
{% endblock %}