{% extends 'home.html' %}
{% block content %}

    <div class="container">
	<div class="row-fluid">

		<section class="content">

			<div class="">
				<div class="panel panel-default">
                		<h1>Técnicos</h1>
					<div class="panel-body">
                    {% if tecnicos %}
						<div class="table-container">

<table id="mytable" class="table table-bordred table-striped" style="text-align: center; margin-top: 10%;">

                   <thead>
                   <th style="text-align: center">Nome</th>
                   <th style="text-align: center">Email</th>
                   <th style="text-align: center">Telefone</th>
                   <th style="text-align: center">Comissão</th>
                {% endif %}
                   </thead>
    <tbody>


    {% for tecnico in tecnicos %}
        <tr onClick='return minhaFuncaoOnClick({{ tecnico.pk }});' onMouseOver='return minhaFuncaoOnMouseOver(this);' onMouseOut='return minhaFuncaoOnMouseOut(this);'>
            <td>{{ tecnico.nome }}</td>
            <td>{{ tecnico.email }}</td>
            <td>{{ tecnico.telefone }}</td>
            <td>{{ tecnico.comissao }} </td>
        </tr>
    {% empty %}
            <tr>
                <td><div class="alert alert-danger" role="alert">Nenhum Técnico cadastrado!</div></td>
            </tr>

    {% endfor %}

    </tbody>

</table>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
    <script language='javascript' type='text/javascript'>
       function minhaFuncaoOnClick(pk){
            window.location.href=pk;
       }
       function minhaFuncaoOnMouseOver(objTR){
            objTR.style.background='#DDDDDD';
       }

       function minhaFuncaoOnMouseOut(objTR){
            objTR.style.background='#FFFFFF';
       }

    </script>

{% endblock %}